body {
    padding: 10px;
    font-size: 12px;
}

// .nav {
//     border-right: 1px solid #CDD6E1;
// }

.tab-content {
    border-left: 1px solid #CDD6E1;
}

.edui-editor {
    width: 100% !important;
}
