body {
    padding: 10px;
    font-size: 12px;
}

.tab-content {
    border-left: 1px solid #CDD6E1;
}

.edui-editor {
    width: 100% !important;
}

.row {
    > div {
        > .eui-date-time-field,
        > .eui-date-time-range {
            margin-bottom: 15px;
        }
    }
}

form {
    > .eui-wrapper {
        margin-bottom: 15px;
    }
}
