body {
    padding: 10px;
    font-size: 12px;
}

.tab-content {
    border-left: 1px solid #CDD6E1;
}

.edui-editor {
    width: 100% !important;
}

.date-time-field-demo {
    > .date-time-field {
        margin-bottom: 10px;
    }
}
