@import '../../node_modules/font-awesome/less/font-awesome.less';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css';
@import '../../node_modules/react-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css';

.btn {
    font-size: 12px;
    height: 32px;
    background-image: none;
    border-radius: 0 !important;
    box-shadow: none;
    outline: none;

    &:hover,
    &:focus,
    &:active {
        outline: none;
    }

    &.btn-disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}

.btn-default {
    border: 1px solid #CDD6E1;
    background-color: #FAFAFA;

    &.btn-disabled {
        &:hover,
        &:focus,
        &:active {
            background-color: #FAFAFA;
        }
    }

    &:hover {
        background-color: #E9E9E9;
    }
}

.form-group {
    &.horizontal {
        > .control-label {
            float: left;
            line-height: 32px;
            width: 100px;
            padding-right: 10px;
            text-align: right;
        }
    }
    &.vertical {
        > .control-label {
            display: block;
            margin-bottom: 5px;
            line-height: normal;
        }
    }
}

.control-label {
    margin-bottom: 0;

    &.required {
        i {
            color: #EA0A0A;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            vertical-align: middle;
            padding: 0 6px 0 0;
        }
    }
}
