.date-time-range-group {
    .date-time-range {
        > div {
            width: 200px;
            position: relative;
            display: inline-block;
            margin: 0 6px 0 0;

            .bootstrap-datetimepicker-widget {
                top: 30px !important;
                right: 0 !important;
                width: auto;
                overflow: auto;
            }
        }
    }

    .modal-body & {
        .date-time-range {
            margin-left: 20%;

            > div {
                width: 80%;
                margin: 0 0 10px 0;
            }
        }
    }
}
